.video-status, .video-status-keep-showing {
  position: absolute;
  left: 15px;
  top: 15px;
  color: rgba(255, 255, 255, 1.0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 7px;
  border-radius: 10px;
  font-family: 'Open Sans';
  z-index: 100000;
  font-size: 18px;
  text-align: center;
  width: 80px;
  display: inline-block;
}

.video-debugging-status {
  position: absolute;
  right: 15px;
  top: 15px;
  color: rgba(255, 255, 255, 1.0);
  background: rgba(128, 0, 0, 0.6);
  padding: 10px 7px;
  border-radius: 10px;
  font-family: 'Open Sans';
  z-index: 100000;
  font-size: 18px;
  text-align: center;
  width: 120px;
  display: inline-block;
}

.videocommander-fake-video-wrapper {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: black;
}

:-webkit-full-screen video {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: black;
}

.videocommander-progress-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  height: 39px;
  font-family: 'Open Sans';
  z-index: 100000;
  display: inline-block;
  opacity: 0;
}

.videocommander-progress-bar {
  position: absolute;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: rgb(251, 28, 50);
  display: inline-block;
  z-index: 3;
}

.videocommander-progress-buffered-bar {
  position: absolute;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  z-index: 2;
}

.videocommander-progress-time {
  position: absolute;
  left: 3%;
  bottom: 9px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1.0);
}

.videocommander-entire-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  z-index: 1;
}
