.video-status {
  position: absolute;
  left: 15px;
  top: 15px;
  color: rbga(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 7px;
  border-radius: 10px;
  font-family: 'Open Sans';
  z-index: 100000;
  font-size: 18px;
  text-align: center;
  width: 80px;
}
